source https://api.nuget.org/v3/index.json
framework >= net462

nuget FsUnit.Xunit
nuget Microsoft.FSharpLu.Json
nuget suave
nuget System.ValueTuple 4.3.0
nuget Xunit.runner.VisualStudio version_in_path: true
